[class^="poker"] {
  padding: 0;
  height: 150px;
  width: calc(635px / 6);
  display: inline-block;
  cursor: pointer;
}

.poker-square-2 {
  background: url('/assets/image/square_2.png') no-repeat;
  background-size: cover;
}

.poker-square-3 {
  background: url('/assets/image/square_3.png') no-repeat;
  background-size: cover;
}

.poker-square-4 {
  background: url('/assets/image/square_4.png') no-repeat;
  background-size: cover;
}

.poker-square-5 {
  background: url('/assets/image/square_5.png') no-repeat;
  background-size: cover;
}

.poker-square-6 {
  background: url('/assets/image/square_6.png') no-repeat;
  background-size: cover;
}

.poker-square-7 {
  background: url('/assets/image/square_7.png') no-repeat;
  background-size: cover;
}

.poker-square-8 {
  background: url('/assets/image/square_8.png') no-repeat;
  background-size: cover;
}

.poker-square-9 {
  background: url('/assets/image/square_9.png') no-repeat;
  background-size: cover;
}

.poker-square-10 {
  background: url('/assets/image/square_10.png') no-repeat;
  background-size: cover;
}

.poker-square-J {
  background: url('/assets/image/square_j.png') no-repeat;
  background-size: cover;
}

.poker-square-Q {
  background: url('/assets/image/square_Q.png') no-repeat;
  background-size: cover;
}

.poker-square-K {
  background: url('/assets/image/square_K.png') no-repeat;
  background-size: cover;
}

.poker-square-A {
  background: url('/assets/image/square_A.png') no-repeat;
  background-size: cover;
}

.poker-club-2 {
  background: url('/assets/image/club_2.png') no-repeat;
  background-size: cover;
}

.poker-club-3 {
  background: url('/assets/image/club_3.png') no-repeat;
  background-size: cover;
}

.poker-club-4 {
  background: url('/assets/image/club_4.png') no-repeat;
  background-size: cover;
}

.poker-club-5 {
  background: url('/assets/image/club_5.png') no-repeat;
  background-size: cover;
}

.poker-club-6 {
  background: url('/assets/image/club_6.png') no-repeat;
  background-size: cover;
}

.poker-club-7 {
  background: url('/assets/image/club_7.png') no-repeat;
  background-size: cover;
}

.poker-club-8 {
  background: url('/assets/image/club_8.png') no-repeat;
  background-size: cover;
}

.poker-club-9 {
  background: url('/assets/image/club_9.png') no-repeat;
  background-size: cover;
}

.poker-club-10 {
  background: url('/assets/image/club_10.png') no-repeat;
  background-size: cover;
}

.poker-club-J {
  background: url('/assets/image/club_J.png') no-repeat;
  background-size: cover;
}

.poker-club-Q {
  background: url('/assets/image/club_Q.png') no-repeat;
  background-size: cover;
}

.poker-club-K {
  background: url('/assets/image/club_K.png') no-repeat;
  background-size: cover;
}

.poker-club-A {
  background: url('/assets/image/club_A.png') no-repeat;
  background-size: cover;
}

.poker-hearts-2 {
  background: url('/assets/image/hearts_2.png') no-repeat;
  background-size: cover;
}

.poker-hearts-3 {
  background: url('/assets/image/hearts_3.png') no-repeat;
  background-size: cover;
}

.poker-hearts-4 {
  background: url('/assets/image/hearts_4.png') no-repeat;
  background-size: cover;
}

.poker-hearts-5 {
  background: url('/assets/image/hearts_5.png') no-repeat;
  background-size: cover;
}

.poker-hearts-6 {
  background: url('/assets/image/hearts_6.png') no-repeat;
  background-size: cover;
}

.poker-hearts-7 {
  background: url('/assets/image/hearts_7.png') no-repeat;
  background-size: cover;
}

.poker-hearts-8 {
  background: url('/assets/image/hearts_8.png') no-repeat;
  background-size: cover;
}

.poker-hearts-9 {
  background: url('/assets/image/hearts_9.png') no-repeat;
  background-size: cover;
}

.poker-hearts-10 {
  background: url('/assets/image/hearts_10.png') no-repeat;
  background-size: cover;
}

.poker-hearts-J {
  background: url('/assets/image/hearts_J.png') no-repeat;
  background-size: cover;
}

.poker-hearts-Q {
  background: url('/assets/image/hearts_Q.png') no-repeat;
  background-size: cover;
}

.poker-hearts-K {
  background: url('/assets/image/hearts_K.png') no-repeat;
  background-size: cover;
}

.poker-hearts-A {
  background: url('/assets/image/hearts_A.png') no-repeat;
  background-size: cover;
}

.poker-spade-2 {
  background: url('/assets/image/spade_2.png') no-repeat;
  background-size: cover;
}

.poker-spade-3 {
  background: url('/assets/image/spade_3.png') no-repeat;
  background-size: cover;
}

.poker-spade-4 {
  background: url('/assets/image/spade_4.png') no-repeat;
  background-size: cover;
}

.poker-spade-5 {
  background: url('/assets/image/spade_5.png') no-repeat;
  background-size: cover;
}

.poker-spade-6 {
  background: url('/assets/image/spade_6.png') no-repeat;
  background-size: cover;
}

.poker-spade-7 {
  background: url('/assets/image/spade_7.png') no-repeat;
  background-size: cover;
}

.poker-spade-8 {
  background: url('/assets/image/spade_8.png') no-repeat;
  background-size: cover;
}

.poker-spade-9 {
  background: url('/assets/image/spade_9.png') no-repeat;
  background-size: cover;
}

.poker-spade-10 {
  background: url('/assets/image/spade_10.png') no-repeat;
  background-size: cover;
}

.poker-spade-J {
  background: url('/assets/image/spade_J.png') no-repeat;
  background-size: cover;
}

.poker-spade-Q {
  background: url('/assets/image/spade_Q.png') no-repeat;
  background-size: cover;
}

.poker-spade-K {
  background: url('/assets/image/spade_K.png') no-repeat;
  background-size: cover;
}

.poker-spade-A {
  background: url('/assets/image/spade_A.png') no-repeat;
  background-size: cover;
}

.poker-king {
  background: url('/assets/image/king.png') no-repeat;
  background-size: cover;
}

.poker-queen {
  background: url('/assets/image/queen.png') no-repeat;
  background-size: cover;
}

.poker-reverse {
  background: url('/assets/image/reverse.png') no-repeat;
  background-size: cover;

}
