// screen
$mixPhone: 321px;
$phone: 569px;
$ipad: 801px;
$pc: 1024px;

// colors
$red: #ca2026;
$dark-red: #A20520;
$gold: #eeaa06;
$orange: #FF8F09;
$dark-orang: #ff5000;
$blue: #007ac1;

// monochromatic
$white: #fff;
$faint: #f9f9f8;
$gallery: #efefef;
$alto: #dfdddd;
$silver: #ccc;
$dusty: #999;
$night: #353535;
$mineshaft: #928b8b;
$black: #000;
$violet: #7d266d;
$green: #1b890e;