<div class="content">
  <div class="demo">
    <tabset>
      <tab heading="等高元素">
        <perfect-scrollbar class="container" [config]="config">
          <div class="item">
            <button (click)="addBoxItem($event)" class="btn">发牌</button>
            <div class="box" [ngStyle]='currentStyle'>
              <div class="box-item" *ngFor="let box of boxs">
                <app-poker [poker]='box'></app-poker>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </tab>
      <tab heading="不同高度元素">Static content</tab>
    </tabset>
  </div>
  <div class="property">
    <div class="pro-show">
      <h4>属性值
        <a class="btn btn-clear" (click)='clearProperty()'>清除</a>
      </h4>
      <perfect-scrollbar class="container">
        <ul class="pro-group">
          <li *ngFor='let property of properties'>
            <div class='proName' [class.show]='property.showIntroduce'>
              <p>{{property.name}}</p>
              <div class='introduce-button' (click)='switchIntroduce(property)'>
                <img src="/assets/image/svg/open.svg">
                <img src="/assets/image/svg/close.svg">
              </div>
              <p class="introduce-text">
                {{property.introduce}}
              </p>
            </div>
            <div class='pros'>
              <button class='btn' *ngFor='let value of property.values' [class.active]='value.isActive' [tooltip]="value.tooltip" placement='bottom'
                containerClass="bt-tooltip" (click)='changeProperty(property.field, property.values, value)'>
                        {{value.text}}
              </button>
            </div>
          </li>
        </ul>
      </perfect-scrollbar>
    </div>
    <div class="pro-view">
      <div class="window">
        <pre><span class="tag">.box </span>{{"{"}}</pre>
        <pre><span class="cm-variable">  display</span>: <span class="cm-number">flex</span>;</pre>
        <pre *ngFor="let style of styleWindow"><span class="cm-variable">  {{style.field}}</span>: <span class="cm-number">{{style.value}}</span>;</pre>
        <pre>{{"}"}}</pre>
      </div>
    </div>
  </div>
</div>