@import '01base/variables';

.content {
  .demo {
    background: #286E2F;
    width: 70%;
    float: left;
    height: 100vh;
    color: $white;
    padding: 1rem;
  }

  .property {
    width: 30%;
    float: left;
    background: #3A2238;
    color: $white;
    height: 100vh;
    padding: 1rem;

    .pro-group {
      li {
        .proName {
          position: relative;

          .btn-clear {
            position: absolute;
            right: 0;
            top: 0;
            padding: .2rem;
            margin: 0;
            font-size: .875em;
            border-radius: 5px;
            background-color: #16a205;
          }
        }
      }
    }
  }
}
